body {
    background-color: #58cced;
    font-family: "Viga", sans-serif;
    font-size: 2rem; 
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
  }
h1 {
    font-size: 2.7rem; 
    margin: 2.7rem;
  }
p {
    color: #FFFFFF;
    font-family: "Viga", serif;
    font-size: 2rem;
    margin: 1rem;
    overflow-wrap: break-word;
    max-width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
a:link {
    color: #FFFFFF;
  }
a:visited {
    color: #FFFFFF;
  }

a:hover {
    color: #FFFFFF;
  }

a:active {
    color: #FFFFFF;
  }
/*a:visited {
    color: #CFFBFD;
  }

a:hover {
    color: #abe2f1;
  }

a:active {
    color: #A8E8E8;
  }*/
.current {
    color: #58cced;
}
.sidenav {
   height: 100%;
   width: 0; 
   position: fixed; 
   z-index: 21; 
   top: 0; 
   left: 0;
   background-color: #007a87; 
   overflow-x: hidden; 
   padding-top: 0; 
   transition: 0.5s; 
  }
  .sidenav a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
  } 
.svg-img {
    top: 0.28rem;
    left: auto;
    right: 0.4rem;
    width: 25px;
    z-index: 25;
    position: fixed;
  }
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    }
.button {
    background-color: #007a87;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 1.3rem;
    font-family: "Viga", serif;
    font-size: 2;
  }
.button a {
    text-decoration: none;
  }
.top-bar {
    z-index: 20;
    display: flex;
    justify-content: center;
    background-color: #007a87;
    padding: 0.4rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
}
.padding {
  padding: 0 clamp(20px, 5%, 100px);
}
.top-bar .title {
    font-size: 1rem;
    color: #FFFFFF
}
.youtube {
    max-width: 85%;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    margin: 0 auto;
}
#main {
    transition: margin-left .5s;
    padding: 20px;
}
