body {
    background-color: #58cced;
    font-family: "Viga", sans-serif;
    font-size: 2rem; 
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
  }
h1 {
    font-size: 2.7rem; 
    margin: 2.7rem;
  }
p {
    color: #FFFFFF;
    font-family: "Viga", serif;
    font-size: 2rem;
    margin: 1rem;
    overflow-wrap: break-word;
    max-width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
a:link {
    color: #FFFFFF;
  }

a:visited {
    color: #CFFBFD;
  }

a:hover {
    color: #abe2f1;
  }

a:active {
    color: #A8E8E8;
  }
.button {
    background-color: #21939b;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 1.3rem;
    font-family: "Viga", serif;
    font-size: 2;
  }
.button a {
    text-decoration: none;
  }
.top-bar {
    z-index: 20;
    display: flex;
    justify-content: center;
    background-color: #007a87;
    padding: 0.4rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
}
.padding {
  padding: 0 clamp(20px, 5%, 100px);
}
.top-bar .title {
    font-size: 1rem;
    color= #FFFFFF
}
#main {
    transition: margin-left .5s;
    padding: 20px;
}
.youtube {
    position: relative;
    width: 80%;
    max-width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin: 0 auto;
}
